<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IS IT CHRISTMAS?!</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  </head>
  <body>
  	<div id="answer">
    	{{{already}}}
   	</div>
  </body>
  <script type="text/javascript" src="./public/javascripts/index.js"></script>

</html>